body {
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: block;
    margin: auto auto;
    text-align: center;
    width: 20%;
    height: 30%;
    line-height: 175%;
    /* background-color: yellow; */
}

#container {
    display: flex;
    justify-content: space-evenly;
    margin: auto auto; 
    padding: 20px;
}

#controls {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* background-color: yellow; */

}

#controls > div {
    border: solid 1px blue;
    font-size: 1em;
    padding: 10px;
    text-align: center;

}



#temp {
    display: flex;
    justify-content: space-evenly;
}

.arrows {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-style: bold;
}

.button {
    display: block;
    margin: auto auto;
    /* background-color: red; */
    color: blue;
    background-color: white;
    border: none;
    font-size: 4vw;
    /* width: 90%;
    height: 70%; */
    /* border: solid 1px blue; */

}

.button:hover {
    background-color: blue;
    color: white;
}

#up {
    text-align: center;
    transform: rotate(-90deg);

}

#down {
    text-align: center;
    transform: rotate(90deg);
}

