body {
    background-color: rgb(192, 245, 245);
    border: 10px solid  rgb(201, 146, 107);
    border-radius: 60px;
    padding-top: 30px;
}

h1 {
    text-align: center;
    color: rgb(174, 81, 14);
    font-size: 60px;
}

main {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 33% 67%;
    grid-gap: 30px;
    margin: 40px;
}

.panel {
    border: 5px solid  rgb(201, 146, 107);
    border-radius: 30px;
    padding: 30px;
}

header {
    grid-row: 1/2;
    grid-column: 1/4;
}
#controlPanel {
    color: rgb(110, 90, 238);
    grid-row: 2/4;
    grid-column: 1/2;
    padding: 20px;
    text-align: center;
}

#weatherGarden {
    grid-row: 2/5;
    grid-column: 2/3;
    text-align: center;
    align-self: center;
    background-color: skyblue;
    border: 5px solid  rgb(201, 146, 107);
    border-radius: 30px;
    padding: 30px;

    min-height: 200px;
    min-width: 400px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 2em;
}

#cityContainer {
    grid-row: 1;
    background-color: rgb(79, 160, 160);
    border-radius: 10px;
} 